<div class="form-container">
  <form role="form" action="/login" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Usuario</label>
      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresar usuario" name="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contrase&ntilde;a</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingresar contraseña" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>
</div>