<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/home" class="navbar-brand">Inicio</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav top-navbar" id="menu">
        <li class='list-menu-item'>
          <a href="#/turtle/all">Ver todas</a>
        </li>
        <li class='list-menu-item'>
          <a href="#/turtle/add">Agregar</a>
        </li>
      </ul>
    </nav>
  </div>
</header>